header {
  background-color: $color-header;
}
header a {
  color: $color-primary;
}
header a:hover {
  text-decoration: none;
  color: $color-secondary;
}
header img {
  max-width: 100%;
  height: 80px;
}
